<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>I have assigned</h1>
    <a href="/assignment_add">Add an assignment</a>
    <table>
        {% for assignment in assignments %}
            
                <tr>
                    <td>{{ assignment.title }}</td>
                    <td>{{ assignment.tutee }}</td>
                    <td>{{ assignment.content }}</td>
                    <td>
                        <a href="/assignment_edit/{{ assignment.id }}">
                            <button>Edit Assignment</button>
                        </a>
                    </td>
                    <td>
                        <a href="/assignment_delete/{{ assignment.id }}">
                            <button>Remove Assignment</button>
                        </a>
                    </td>
                </tr>
 
        {% endfor %}
    </table>
    <h1>Assigned To Me</h1>
    <table>
        {% for assignment in assignments %}
        <tr>
            <td>{{ assignment.title }}</td>
            <td>{{ assignment.tutor }}</td>
            <td>{{ assignment.content }}</td>
        </tr>
        {% endfor %}
    </table>
    

</body>

</html>